html{
  font-size: 16px;  
}
body {
  background-color: plum;
  /* background-image: url('assets/pinkRoses.jpg');
  background-attachment: fixed;
  background-position: 100%;
  background-size: cover;
  font-family: 'Cardo', serif; */
}
.wrapper{
  position: relative;
  padding: 10em;
}
.main{
  background-color: white;  
  border: solid black 1px;
  position: relative;
  /* width: 100em; */
  margin: auto;
  /* padding: 2em; */
  border-radius: .5em;
  text-align: center;
}

.pixel{
  border: solid black 1px;
  ;width: 2em;
  height: 2em;
  display: table-cell;
  background: white;
}
 .palette{
  min-height: 2em;
  min-width: 2em;
}

